<article class='card'>
  <img class='card__image' src='{{card.featured_image.src | image_url}}' alt='' role='presentation'>
  <h3 class='card__heading heading'>
    <a class='card__link link link--xl' href='{{card.url}}'>{{- card.title -}}</a>
  </h3>
  {%- if card.available == blank -%}
    <ul class='card__tags tags' role='list' aria-labelledby='tags_heading'>
      <li class='tags__item tags__item--sold-out'>{{ 'products.product.sold_out' | t }}</li>
    </ul>
  {%- endif -%}
  {%- if card.has_only_default_variant == false -%}
    {%- for card_option in card.options_with_values -%}
      {%- if card_option.name == 'Color' -%}
        <ul class='card__list' role='list' aria-labelledby='colors_heading'>
          {%- for value in card_option.values -%}
            <li class='card__item'>
              <span class='visually-hidden'>{{- value -}}</span>
              <div style='background-color: {{value}}' class='card__color'></div>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  <p class='card__price'>
    <span class='visually-hidden'>{{- 'customer.order.price' | t -}}</span>
    <abbr class='card__price-currency' title='{{shop.currency}}'>{{- shop.currency -}}</abbr>
    <span class='card__price-value'>{{- card.price | money -}}</span>
  </p>
</article>
