<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ "alternate.index.css" | asset_url }}">
    <script src="{{"alternate.index.js"| asset_url}}" defer="defer"></script>

    {{ content_for_header }}
    
  </head>

  <script src="https://unpkg.com/@shopify/theme-sections@4.1.1/dist/theme-sections.min.js" defer></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      Shopify.theme.sections.load('*');
    })
  </script>

  <body>

    {% section "alternate-header" %}
    
    <main class="main">
      
      {% render 'alternate-breadcrumbs' %}
      
      {{ content_for_layout }}
    </main>

    {% section "alternate-footer" %}

  </body>
</html>
