<header class="header">
    <div class="header__container container">
        <nav class="header-navigation">
            {%- if section.settings.menu != blank -%}
                <ul class="header-navigation__list" role="list">
                    {%- for link in section.settings.menu.links -%}
                        <li class="header-navigation__item">
                            <a class="header-navigation__link link link--xl" href="{{link.url}}">{{link.title}}</a>
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}
            <a href="{{routes.root_url}}" class="header-navigation__logo">
                <span class="visually-hidden">Homepage</span>
                {%- if section.settings.logo != blank -%}
                    <img class="header-navigation__image" src="{{section.settings.logo | image_url}}" alt="Logo">
                {%- endif -%}
            </a>
            <ul class="header-navigation__list" role="list">
                <li class="header-navigation__item">
                    <a class="header-navigation__link link link--xl" href="{{routes.account_url}}">{{"customer.account.title" | t}}</a>
                </li>
                <li class="header-navigation__item">
                    <a class="header-navigation__link link link--xl" href="{{routes.search_url}}">{{"general.search.search" | t}}</a>
                </li>
                <li class="header-navigation__item">
                    <a class="header-navigation__link link link--xl" href="{{routes.cart_url}}">{{"templates.cart.cart" | t}} (<span>{{cart.item_count}}</span>)</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{% schema %}
    {
        "name": "alternate-header",
        "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        }
        ]
    }
{% endschema %}
